<div class="container" style="padding-left: 0; padding-right: 0;">
  <div class="row mt-2">
    <h2>
      API Home
    </h2>
  </div>  
  
  <div class="row mt-2">
    <div class="col-sm-2 px-0 text-left" >
      <button class="btn btn-success float-left" [routerLink]="['/create']">Create</button>
    </div>
    <div class="col-sm-4 px-0 ml-2 text-left">
      Create a new record in a table
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-2 px-0 text-left" >
      <button class="btn btn-success float-left" [routerLink]="['/read']">Read</button>
    </div>
    <div class="col-sm-4 px-0 ml-2 text-left">
      Read records from a table
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-2 px-0 text-left" >
      <button class="btn btn-success float-left" [routerLink]="['/update']">Update</button>
    </div>
    <div class="col-sm-4 px-0 ml-2 text-left">
      Update records in a table
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-2 px-0 text-left" >
      <button class="btn btn-success float-left" [routerLink]="['/delete']">Delete</button>
    </div>
    <div class="col-sm-4 px-0 ml-2 text-left">
      Delete records from a table
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-2 px-0 text-left" >
      <button class="btn btn-success float-left" [routerLink]="['/join', 'Inner']">Inner Join</button>
    </div>
    <div class="col-sm-4 px-0 ml-2 text-left">
      Perform Inner Join on the tables
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-2 px-0 text-left" >
      <button class="btn btn-success float-left" [routerLink]="['/join', 'LeftOuter']">Left Outer Join</button>
    </div>
    <div class="col-sm-4 px-0 ml-2 text-left">
      Perform Left Outer Join on the tables
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-2 px-0 text-left" >
      <button class="btn btn-success float-left" [routerLink]="['/join', 'RightOuter']">Right Outer Join</button>
    </div>
    <div class="col-sm-4 px-0 ml-2 text-left">
      Perform Right Outer Join on the tables
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-2 px-0 text-left" >
      <button class="btn btn-success float-left" [routerLink]="['/join', 'FullOuter']">Full Outer Join</button>
    </div>
    <div class="col-sm-4 px-0 ml-2 text-left">
      Perform Full Outer Join on the tables
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-2 px-0 text-left" >
      <button class="btn btn-success float-left" [routerLink]="['/join', 'Cross']">Full Outer Join</button>
    </div>
    <div class="col-sm-4 px-0 ml-2 text-left">
      Perform Cross Join on the tables
    </div>
  </div>

</div>

