<div class="container" style="padding-left: 0; padding-right: 0;">
  <div class="row">
    <h4>
      Table
    </h4>
  </div>
  <div class="row mt-2">
    <input type="text" class="form-control" [(ngModel)] = "tableName">
  </div>
  <div class="row mt-2">
    <button class="btn btn-success" (click)="read()">Read</button>
  </div>

  <div *ngIf="records" class="row mt-2">
    <h4>
      Result
    </h4>
  </div>  
  <div *ngIf="records"  class="row mt-2">
    <p-table [columns]="columns" [value]="records" resizableColumns="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col}}
            </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record>
        <tr>
            <td *ngFor="let prop of record.properties">
                    {{prop.value}}
            </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="error" class="row mt-2">
    <div class="alert alert-danger" role="alert">
      {{error.json().Message || error}}
    </div>    
  </div>
</div>

