<div class="container" style="padding-left: 0; padding-right: 0;">
  <header class="navbar navbar-light navbar-fixed-top navbar-expand-lg">

    <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">API {{env}}</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/home']" (click)="navbarCollapsed = true">Home</a>
        </li>
        <li>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>CRUD</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" [routerLink]="['/create']">Create</button>
              <button class="dropdown-item" [routerLink]="['/read']">Read</button>
              <button class="dropdown-item" [routerLink]="['/update']">Update</button>
              <button class="dropdown-item" [routerLink]="['/delete']">Delete</button>
            </div>
          </div>
        </li>
        <li>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-light" id="dropdownBasic1" ngbDropdownToggle>Join</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" [routerLink]="['/join', 'Inner']">INNER</button>
              <button class="dropdown-item" [routerLink]="['/join', 'LeftOuter']">LEFT OUTER</button>
              <button class="dropdown-item" [routerLink]="['/join', 'RightOuter']">RIGHT OUTER</button>
              <button class="dropdown-item" [routerLink]="['/join', 'FullOuter']">FULL OUTER</button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" [routerLink]="['/join', 'Cross']">CROSS</button>
            </div>
          </div>
        </li>
      </ul>

      <span *ngIf="isAuthenticated && currentUser" class="navbar-text mr-sm-2">Welcome {{currentUser}}</span>
      <button *ngIf="!isAuthenticated" class="btn btn-light float-right" (click)="login()" type="login" placeholder="Login" aria-label="Login">Log in</button>
      <button *ngIf="isAuthenticated" class="btn btn-light float-right" (click)="logout()" type="logout" placeholder="Logout" aria-label="Logout">Log out</button>
    </div>
  </header>
</div>

<div>
  <router-outlet></router-outlet>
</div>