<div class="container" style="padding-left: 0; padding-right: 0;">
  <div class="row mt-2">
    <h4>
        Table
    </h4>
  </div>
  <div class="row mt-2">
    <input type="text" class="form-control" [(ngModel)]="table">
  </div>
  <div class="row mt-2">
    <h4>
        Record name
    </h4>      
  </div>

  <div class="row mt-2">
    <input type="text" class="form-control" [(ngModel)]="recordName">
  </div>

  <div class="row mt-2">
    <div class="col-sm-12 px-0 text-right">
        <button class="btn btn-primary" (click)="delete()">Submit</button>
        <button class="btn btn-dark ml-2" (click)="cancel()">Cancel</button>
    </div>
  </div>
  <div *ngIf="error" class="row mt-2">
    <div class="alert alert-danger" role="alert">
        {{error.json().Message || error}}
    </div>
  </div>  
  <div *ngIf="success" class="row mt-2">
    <div class="alert alert-success" role="alert">
        {{success.status}} {{success.statusText}}
    </div>    
  </div>  
</div>